<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='utf-8'>
  <title>Weather App</title>
  <script src="/js/client.js"></script>
</head>
<body>
<h1 id="main header">This is my weather app</h1>
  <%- body %>

</body>
</html>