<form id='weathersearch'>
  <label>Input your Location</label>
  <input id='locationInput' name="location" type="text">
  <input type="submit">
</form>

<div id="weatherDisplay">

</div>

<ul id="storedLocations">
  
</ul>
